	<ion-view view-title="" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-men1" class="men1 page-men1">
		
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="list card">
				<div class="item item-header item-stable item-button-right">
					
					<span class="badge badge-assertive">{{ current.remaining }}</span>
					<button class="button button-balanced ink"  ng-click="modal_score_open($event)"><i class="icon ion-ribbon-a"></i></button>
				</div>
			</div>
			<div class="card">
				<div class="item item-header item-positive">
					
				</div>
				<ion-list>
			<div class="item noborder">
				<button ng-if="choice" class="button button-assertive" ng-click="check_choose(choice)"></button>
			</div>
				</ion-list>
			</div>
			<br/><br/>
			<script id="score.html" type="text/ng-template">
				<ion-modal-view>
					<ion-header-bar class="bar bar-header light bar-balanced">
					<div class="header-item title"></div>
					<div class="buttons buttons-right header-item"><span class="right-buttons"><button class="button button-icon button-clear ion-close ink-black" ng-click="modal_score_close()"></button></span></div>
				</ion-header-bar>
					<ion-content>
						<div class="card">
							<div class="row">
								<div class="col"></div>
								<div class="col text-right">{{ current.correct }}</div>
							</div>
							<div class="row">
								<div class="col"></div>
								<div class="col text-right">{{ current.wrong }}</div>
							</div>
							<div class="row">
								<div class="col"></div>
								<div class="col text-right">{{ current.remaining }}</div>
							</div>
							<div class="row">
								<div class="col"><button class="button button-calm ion-ios-refresh-outline icon  icon-right" ng-click="modal_score_repeat()"></button></div>
							</div>
						</div>
					</ion-content>
				</ion-modal-view>
			</script>
			<script id="congrats.html" type="text/ng-template">
				<ion-modal-view>
					<ion-content>
						<div class="padding text-center">
							<div class="padding text-center">
								<span style="font-size:64px;" class="icon {{ current.congrats_icon }}"></span>
								<h3>{{ current.congrats_text }}</h3>
							</div>
						</div>
					</ion-content>
				</ion-modal-view>
			</script>


		</ion-content>
		<!-- ./content -->
	</ion-view>
