	<ion-view view-title="Bookmarks of Slide_tab_menu" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-slide_tab_menu_bookmark" class="page-slide_tab_menu_bookmark">
		
    
<ion-list class="list" ng-if="slide_tab_menu_bookmark.length != 0">

	<ion-item class="item item-icon-left" type="item-avatar" ng-repeat="item in slide_tab_menu_bookmark" ng-href="#/ebeveyn_rehberi/slide_tab_menu_singles/{{ item.id }}">
		<i class="icon ion-ios-bookmarks-outline"></i>
		<h2 class="" ng-bind-html="item.title.rendered | to_trusted"></h2>
		<ion-option-button class="assertive-bg" ng-click="removeDbVirtualSlide_tab_menu(item.id)"><i class="icon ion-trash-a"></i></ion-option-button>
	</ion-item>					
    
    <ion-item class="item item-button">
	   <button class="button button-small button-calm" ng-click="clearDbVirtualSlide_tab_menu();"><i class="icon ion-ios-refresh-outline"></i> Clear</button>
	</ion-item>

</ion-list>

<div class="slide_tab_menu_bookmark padding text-center" ng-if="slide_tab_menu_bookmark.length == 0">
	<i class="icon ion-ios-bookmarks-outline"></i>
	<p>There are no items</p>
</div>

    
    
		</ion-content>
		<!-- ./content -->
	</ion-view>
