	<ion-view view-title="Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-dashboard" class=" page-dashboard">
		
		<div class="dashboard-panel">
			<div class="item item-title no-border item-positive-900">Anaekran</div>
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-bg ink"  ng-href="#/ebeveyn_rehberi/men1" >
					<i class="icon ion-android-star" ></i>
					<p>{{ "İla&ccedil; Rehberi" | translate }}</p>
				</a>
				<a class="col-33 no-border light positive-900-bg ink"  ng-href="#/ebeveyn_rehberi/yenidogan_page" >
					<i class="icon ion-android-favorite" ></i>
					<p>{{ "Yenidoğan Rehberi" | translate }}</p>
				</a>
				<a class="col-33 no-border light calm-bg ink"  ng-href="#/ebeveyn_rehberi/emzirme_page" >
					<i class="icon ion-android-happy" ></i>
					<p>{{ "Emzirme Rehberi" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light calm-900-bg ink"  ng-href="#/ebeveyn_rehberi/beslenme_page" >
					<i class="icon ion-android-restaurant" ></i>
					<p>{{ "Beslenme Rehberi" | translate }}</p>
				</a>
				<a class="col-33 no-border light balanced-bg ink"  ng-href="#/ebeveyn_rehberi/gelisim_page" >
					<i class="icon ion-ios-body-outline" ></i>
					<p>{{ "Gelişim Rehberi" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			<div class="item item-title no-border item-positive-900">Sesli Kaynak</div>
		</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
